{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block body %}
<h1 class="display-7" style="color: white; text-align: center; margin-top: 10px;">“On-Campus Employment Opportunities”
    Program At IIT GANDHINAGAR</h1>
<div class="logo">
    <img src="../static/iitgnlogo-emblem.png" alt="iitgn logo">
</div>
<div class="container">
    <h1 class="display-6">The OCEO Program Overview</h1>
    <p class="lead">
        The On-Campus Employment Opportunities (OCEO) Program Is Designed To Provide Students With First-Hand Employment
        And Job Experience While Studying At The Institute. The Program Aims To Help Students Develop A Range Of Skills,
        Including Leadership, Responsibility, And Life Skills, As Well As Provide Them With An Opportunity To Earn Money
        While Studying. The OCEO Program Is Open To B.Tech And Master Students (MSc, MA, MTech) Who Are Not Receiving
        Any Stipend. However, Master Students Who Are Receiving A Stipend May Also Be Considered For Such Employment,
        Subject To Exemplary Performance And Discharge Of Duties Expected Against The Payment Of Their Stipend.
    </p>
</div>
<div class="container">
    <h1 class="display-6">The Benefits Of The OCEO Program</h1>
    <p class="lead">
        The OCEO Program Offers Several Benefits To Students. Firstly, It Provides Students With High-Quality Job
        Experience And Helps Them Develop Essential Skills That Are In High Demand In The Job Market. Secondly, It Gives
        Students An Opportunity To Earn Money While Studying, Which Can Help Them Meet Their Financial Needs. Thirdly,
        It Provides An Opportunity To Meet The Human Resource Requirements Of The Institute While Allowing Students To
        Contribute Significantly To Continuing Education Programs And Various Other Initiatives. Finally, Students
        Engaged Under This Activity May Mention It On Their CV And Use The Reporting Officer As A Reference When
        Applying For Jobs Elsewhere.
    </p>
</div>
<div class="container">
    <h1 class="display-6">The Application Process And Remuneration</h1>
    <p class="lead">
        The Application Process For Available OCEO Program Activities Is Periodically Invited From All B.Tech And Master
        (MSc, MA, MTech) Students Through The Institute Management System. Students Are Required To Apply To The
        Interested Activities Through IMS. Once Selected, The Students Are Required To Upload The "OCEO Time Card"
        Signed By Respective Supervisors In IMS By The 7th Of Every Month For Disbursement Of Remuneration. Selected
        Students Will Be Allowed To Work For A Maximum Of 10 Hours Per Week During The Semester And 40 Hours Per Week
        During Vacations, Including Mid-Sem Breaks. Remuneration Rates Will Be In The Range Of 150-200 Per Hour, With
        Most Students Starting At The Base Rate. Pay-Hikes Will Be Based On The Student's Performance And Engagement.
    </p>
</div>
{% endblock body %}