<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} - oCEO Database | Flask WebApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/student.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/about.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/secure-db-logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/39de6b7b39.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <img src="../static/secure-db-logo.png" alt="" style="width: 40px;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/whatwedo">What we do?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobopenings">oCEO Positions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proffeedback">Prof. feedback</a>
                    </li>

                    <!-- DropDown for login -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Admin & Prof. Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/test">Admin Login</a></li>
                            <li><a class="dropdown-item" href="/prof">Prof. Login</a></li>
                            <!-- <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    {% block body %}

    {% endblock body %}

    <!-- footer -->
    <section id="footer">
        <div class="main-footer">
            <div class="com " data-aos="fade-up">
                <h2>Visit Us</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.8694318648472!2d72.68167397488249!3d23.211428509255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2adec1f16d8d%3A0xdc447b8706689bc3!2sIndian%20Institute%20Of%20Technology%20Gandhinagar%20(IIT%20Gandhinagar)!5e0!3m2!1sen!2sin!4v1679326199271!5m2!1sen!2sin"
                    width="400" height="200" style="border:0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="logoinfo" data-aos="fade-up">

                <div class="contact-details">
                    <h1>Contact Us</h1>
                    <li>
                        <div class="fa fa-phone"></div><a href="tel:+919326048690">+919326048690</a>
                    </li>
                    <li>
                        <div class="fa fa-envelope"></div><a href="mailto:yourmail@gmail.com">oceo.2023@iitgn.ac.in</a>  <!-- oceo36912@gmail.com -->
                    </li>
                    </li>
                </div>
            </div>
            <div class="com " data-aos="fade-up">
                <h2 style="margin-left: 35%;">Team</h2>
                <!-- <p style="color:white">Oracle's Eleven</p> -->
                <ul style="color: white;">
                    <a href="mailto:chhavi.gautam@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Chavi Gautam</a>
                    <a href="mailto:suhani.mittal@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Suhani Mittal</a>
                    <a href="mailto:chaudhari.tanvi@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Tanvi Chaudhari </a>
                    <a href="mailto:chogle.ishani@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Ishani Chogle</a>
                    <a href="mailto:harshita.ramchandani@iitgn.ac.in"><img class="mail"
                            src="../static/icons8-mail-48.png" alt="n"> Harshita Ramachandani</a>
                    <a href="mailto:jain.tanvi@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Tanvi Jain</a>
                    <a href="mailto:ayush.yadav@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Ayush Yadav</a>
                    <a href="mailto:nitin.kakraliya@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Nitin Kakraliya</a>
                    <a href="mailto:rahul.raj@iitgn.ac.in"> <img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Rahul Raj</a>
                    <a href="mailto:anutosh.jaiswal@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Anutosh Jaishawal</a>
                    <a href="mailto:divya.chinchole@iitgn.ac.in"><img class="mail" src="../static/icons8-mail-48.png"
                            alt="n"> Divya Chinchole</a>
                </ul>
            </div>
        </div>

        <footer>© oCEO Copyright 2023 All Rights Reserved</footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>