{% extends 'base.html' %}
{% block title %}
What we do?
{% endblock title %}
{% block body %}
<h1 style="text-align: center ; margin: 3%; color: aliceblue;">
    oCEO Portal
</h1>
<div class="container" id="about-us">
    <h1 style="text-align: center;">
        What we do?
    </h1>
    <p>
        The “On-Campus Employment Opportunities (oCEO)” program aims to provide students with first-
        hand employment and job experience. This program will help the students on ‘High-Quality Job experience’,
        ‘Inculcate Higher Responsibility’, ‘Develop Leadership and Life-skills’, ‘Opportunity to
        Earn Money' and ‘Meet Human Resource Requirements’ of the Institute. In addition, the students can
        contribute significantly to continuing education programs and various other initiatives of the Institute.
        The program will be open to B.Tech, and all Master Students (MSc, MA, MTech) not receiving any
        stipend. However, Master students (MSc, MA, MTech) receiving stipend may also be considered for
        such employment subject to exemplary performance and discharge of duties expected against the
        payment of their stipend. Students to be engaged in oCEO activities having an academic nature, like
        Teaching Assistant of courses, PAL, and ADH, should have a minimum CPI requirement of 7.0. For
        other activities, there is no minimum CPI requirement.<br>
        The selected students will be allowed to work for a maximum of 10 hours per week during the semester
        and 40 hours per week during the vacations including mid sem breaks. The remuneration rates will be in
        the range of 150-200 per hour and most of the students would start at the base rate and pay-hikes will be
        based on the performance and engagement.
        <br>
        Any students engaged under this activity may like to mention on their CV and may use the reporting
        officer as a reference when applying for jobs elsewhere.
    </p>
    <h1 style="text-align: center;">
        The selection process
    </h1>
    <p>
        Applications for available oCEO program activities are invited periodically from all B.Tech and Master
        (MSc, MA, MTech) students through Institute Management System only and students are required to
        apply to the interested activities through IMS. Once selected, the students are required to upload the
        ‘oCEO Time Card’ signed by respective supervisors in IMS by 7th of every month for disbursement of
        remuneration.
    </p>
</div>
{% endblock body %}