<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>oCEO Database</title>
</head>
<body>
    <h1 id="title">Welcome to oCEO Database</h1>

    <!-- For student table operations -->
    <h1>Student Table Operations</h1>
    <form method="post" action="">
        <p>INSERT</p>
        <p>UPDATE</p>
        <p>DELETE</p>
        <p>RENAME</p>
        <p>WHERE</p>
        <input type="hidden" name="student" value="student">
        <input type="text" name="operName">
        <input type="submit">
    </form>

    <!-- For Other entity operations -->

</body>
</html>

<!-- 
    # to add onclick feature:-
    onclick = "window.location.href = 'student.html';"
 -->