<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | INSERT</title>
    <style>
        p{
            color: white;
        }
    </style>
</head>
<body>
    <h1 id="title">
        Student | Insert operation
    </h1>
    <form method="post" action="">
        <label>Student_ID:</label> <input type="number" name="id">
        <label>Name:</label> <input type="text" name="name">
        <label>Program:</label> <input type="text" name="program">
        <label>Department_name:</label> <input type="text" name="dept_name">
        <label>Email:</label> <input type="email" name="email"> <br><br>
        <input type="submit" style="cursor: pointer;">
    </form>
</body>
</html>