<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update, Delete Operation - oCEO Database | Flask WebApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/test.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/about.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/39de6b7b39.js" crossorigin="anonymous"></script>
    <style>
        input{
            border: none;
            outline: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/whatwedo">What we do?</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>program</th>
                <th>deptname</th>
                
                <th>action1</th>
                <th>action2</th>
            </tr>
        </thead>
        <tbody>
            {% for student in userDetails %}
            <tr>
                <form method="POST" action="">
                    <input type="hidden" name="id" value="{{ student[0] }}">
                    <td> {{student[0]}} </td>
                    <td>{{student[1]}}</td>
                    <td>{{student[2]}}</td>
                    <td><input type="text" name="prgm" value="{{student[3]}}"></td>
                    <td><input type="text" name="deptname" value="{{student[4]}}"></td>
                    
                    <td><button class="btn btn-primary" type="submit" name="update"
                            onclick="return confirm('Are you sure you want to update this record?')">Update</button>
                    </td>
                    <td><button class="btn btn-danger" type="submit" name="delete"
                            onclick="return confirm('Are you sure you want to delete this record?')">Delete</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="/" class="btn btn-primary center">Back to homepage</a>
    </div>

    <!-- footer -->
    <section id="footer">
        <div class="main-footer">
            <div class="com " data-aos="fade-up">
                <h2>Visit Us</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.8694318648472!2d72.68167397488249!3d23.211428509255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2adec1f16d8d%3A0xdc447b8706689bc3!2sIndian%20Institute%20Of%20Technology%20Gandhinagar%20(IIT%20Gandhinagar)!5e0!3m2!1sen!2sin!4v1679326199271!5m2!1sen!2sin"
                    width="400" height="200" style="border:0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="logoinfo" data-aos="fade-up">

                <div class="contact-details">
                    <h1>Contact Us</h1>
                    <li>
                        <div class="fa fa-phone"></div><a href="tel:+919326048690">+91 7070025098</a>
                    </li>
                    <li>
                        <div class="fa fa-envelope"></div><a href="mailto:yourmail@gmail.com">oceo36912@gmail.com</a>
                    </li>
                    </li>
                </div>
            </div>
            <div class="com " data-aos="fade-up">
                <h2 style="margin-left: 35%;">Team</h2>
                <!-- <p style="color:white">Oracle's Eleven</p> -->
                <ul style="color: white;">
                    <li>Harshita Ramchandani</li>
                    <li>Tanvi Jain</li>
                    <li>Ishani chogle</li>
                    <li>Tanvi Choudhary</li>
                    <li>Suhani Mittal</li>
                    <li>Rahul Raj</li>
                    <li>Chhavi Gautam</li>
                    <li>Anutosh Jaiswal</li>
                    <li>Divya Chinchole</li>
                    <li>Nitin Karkarliya</li>
                    <li>Ayush Yadav</li>
                </ul>
            </div>
        </div>

        <footer>© oCEO Copyright 2023 All Rights Reserved</footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>